*{
  font-family: 'DM Sans', sans-serif;
}

h1{
  margin-bottom:0px;
  padding-bottom: 0;
}

p{
  margin-bottom: 0px;
}

.dot{
  stroke: #101010;
  stroke-width: 2px;
  opacity: .9;
  cursor: pointer;
}

#svgc{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#legend{
    display: flex;
  flex-wrap: wrap;
  width: 169px;
  align-items:center;
}

#legend span{
  font-size: .8rem;
}

.dope,.no-dope{
  width: 1.2rem;
  height: 1.2rem;
  display: inline-block;
  margin: 4px;
}

.dope{
  background-color: #cb5e5e;
}

.no-dope{
  background-color: #6ab6de;
}

svg{
  transform: scale(.9)
}

#tooltip{
  position: absolute;
  display: flex;
  align-items:center;
  background-color: #333648;
  border-radius: 5px;
  opacity: 0;
  z-index: 3;
}

#tooltip #country{
  padding: 8px;
  color: #fff;
  font-size:1.8rem;
  border-right: .5px solid rgba(255,255,255,.1);
}

#tooltip #details{
  padding: 8px;
  color: #fff;
}

#tooltip .time{
  font-size: .8rem;
  display: inline-block;
  margin-bottom: 8px;
  color: rgba(255,255,255,.6)
}

#tooltip .doping{
  font-size: .8rem;
}